aiofiles==0.4.0
asn1crypto==0.24.0
cryptography==2.1.4
httptools==0.0.11
idna==2.6
keyring==10.6.0
keyrings.alt==3.0
multidict==4.4.0
Nuitka==0.5.30
pycrypto==2.6.1
pygobject==3.26.1
pyxdg==0.25
sanic==0.8.1
SecretStorage==2.3.1
six==1.11.0
ujson==1.35
uvloop==0.11.2
websockets==5.0.1
